body{
    margin: 0;
}

/*sfondo azzurro*/
.sfondo-colore{
    width: 100%;
    background-color: cornflowerblue;
}

/*sfondo pattern */
.pattern{
    width: 100%;
    height: 150px;
    background-image:url(../img/pattern.png);

}

/*Logo*/
.verologo{
    width: 300px;
    margin-top: 70px;
    margin-left: 10px;
}

/*Main*/
main{
    margin: 10px;
}

/*Titolo*/
h1{
    font-size: 80px;
    margin-bottom: 0;
    margin-top: 10px;
}

/*sottotitolo*/
.sottotitolo{
    color: gray;
    margin-top:0 ;
    margin-bottom: 0;
}

/*autore*/
.autore{
    color:cyan;
}

/*Foto Tim*/
.foto-uno{
    width: calc(100% / 2 - 20px);
    margin: 5px;
    height: 450px;
    margin-top:20px;
}

 /*Stili per paragrafi*/
.descrizione-foto{
    font-size: 15px;
    margin-top: 0;
}

.paragrafo{
    font-size: 30px;
}

.sottolineato{
    background-color: yellow;
}

li{
    margin-left: 0;
}

/*stili tabella*/
table{
    border-spacing: 0;
}

.thead{
    background-color: cornflowerblue;
    margin: 0;
    color: azure;
    text-align: left;
}

th {
    width: 25%;
}

.ultima-colonna{
    width: 50%;
}

.riga-azzurra{
    background-color: aqua;
}

/*stili anteprime footer*/
.anteprime{
    width: 300px;
    height: 200px;
    margin-top: 10px;
}

.anteprima-testo{
    color: azure;
    padding: 10px;

}

.monitor{
    background-image: url(../img/monitor.jpg);
}

.grafico{
    background-image: url(../img/graph.jpg);
}